@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: black;
  }

  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;
  }

  @media (prefers-color-scheme: dark) {
    :root:not(.light) {
      --background: #0f172a;
      --foreground: #f8fafc;
    }
  }
}

/* .dark-theme {
  --background:  #0f172a;
  --foreground: #f8fafc;
} */





@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inria-sans);
  --font-serif: var(--font-inria-serif);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inria-sans);
}


h1{
  font-family: var(--font-inria-sans);
}

h2{
  font-family: var(--font-inria-sans);
}


::selection{
  color: blue;
  background: greenyellow;
}

.dark  ::selection{
  color: pink;
  background: purple;
}

#projects{
  scroll-margin-top: 8rem;
}

@media screen and (max-width: 640px) {
  #projects {
      scroll-margin-top: 2rem;
  }

  article p{
    font-size: medium;
  }
}

/* Styling for project article */

article ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

article ol {
  list-style-type: decimal;  
  padding-left: 1.25rem;
}

article li {
  margin: 0.25rem 0;
}

article a:hover{
  opacity: 80%;
}

article h1{
  font-size: xx-large;
  font-family: var(--font-inria-serif);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

article h2{
  font-size: large;
  font-family: var(--font-inria-sans);
}

article p{
  font-family: var(--font-inria-serif);
  line-height: 1.6;
  font-size: large;
}

.markdown img{
  border: solid 2px black
}

.dark .markdown img{
  border: solid 2px white
}